header {
  min-height: 100px;
  opacity: 1;
  color: white;
  margin: 2%;
  text-shadow: 10px 10px 10px black;
}
#loggedInAs {
  font-weight: bold;
  border: 4px solid #ffffff;
  padding: 10px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 20px 10px 20px rgba(0, 0, 0, 0.5);
  color: white;
  position: absolute;
  top: 0px;
  left: 0px;
}
#navBar ul a {
  text-decoration: none;
}
#navBar ul li {
  box-shadow: 20px 10px 20px rgba(0, 0, 0, 0.5);
  transition: 1s;
  margin: 10px;
  text-align: center;
  border: 4px solid white;
  border-radius: 20px;
  width: 150px;
  background-color: rgba(0, 0, 0, 0.315);
  color: #2f2f2f;
  list-style-type: none;
  display: inline-flex;
  margin: 2%;
  font-size: 25px;
  font-weight: bold;
}
#navBar ul li:hover {
  box-shadow: 20px 10px 20px rgba(0, 0, 0, 0.8);
  cursor: pointer;
  transition: 1s;
  margin: 10px;
  text-align: center;
  border: 4px solid white;
  border-radius: 20px;
  width: 150px;
  background-color: rgba(0, 0, 0, 0.753);
  color: white;
  list-style-type: none;
  display: inline-flex;
  margin: 2%;
  font-size: 25px;
  font-weight: bold;
}
#adminAlerts {
  padding: 1%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: white;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.8);
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid;
  min-width: 300px;
  max-width: 300px;
  border-radius: 5px;
}
#adminAlerts h2 {
  border-bottom: 1px solid;
  color: white;
}
#adminAlerts #submited {
  border-bottom: 2px solid;
  min-height: 200px;
}
#adminAlerts #submited h5 {
  border-bottom: 1px solid;
  max-width: 100px;
}
#adminAlerts #submited li {
  color: #74ff74;
}
#adminAlerts #notsubmited {
  border-bottom: 2px solid;
  min-height: 200px;
}
#adminAlerts #notsubmited h5 {
  border-bottom: 1px solid;
  max-width: 130px;
}
#adminAlerts #notsubmited li {
  color: red;
}
#managersMessage {
  position: absolute;
  top: 50px;
  right: 200px;
  color: #ffffff;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.9);
}
#sendmessage {
  padding: 1%;
  border: 2px solid white;
  max-width: 300px;
  position: absolute;
  top: 500px;
  left: 0px;
  color: white;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.8);
  background-color: rgba(0, 0, 0, 0.8);
}
#sendmessage h2 {
  border-bottom: 2px solid;
}
#sendmessage h5 {
  border-bottom: 2px solid;
}
#sendmessage textarea {
  resize: none;
}
#sendmessage button {
  margin: 2%;
  cursor: pointer;
  color: white;
  border-radius: 5px;
}
#AnavBar ul a {
  text-decoration: none;
}
#AnavBar ul li {
  padding: 5px;
  box-shadow: 20px 10px 20px rgba(0, 0, 0, 0.5);
  transition: 1s;
  margin: 10px;
  text-align: center;
  border: 4px solid #a3a3a3;
  border-radius: 20px;
  min-width: 100px;
  color: #ffffff;
  list-style-type: none;
  display: inline-flex;
  margin: 2%;
  font-size: 25px;
  font-weight: bold;
}
#AnavBar ul li:hover {
  padding: 5px;
  cursor: pointer;
  box-shadow: 20px 10px 20px rgba(0, 0, 0, 0.8);
  transition: 1s;
  margin: 10px;
  text-align: center;
  border: 4px solid white;
  border-radius: 20px;
  min-width: 100px;
  background-color: rgba(0, 0, 0, 0.9);
  color: #ffffff;
  list-style-type: none;
  display: inline-flex;
  margin: 2%;
  font-size: 25px;
  font-weight: bold;
}
#MPh1 {
  font-size: 50px;
  letter-spacing: 10px;
  text-shadow: 10px 10px 15px rgba(0, 0, 0, 0.8);
}
#makeRwraper {
  border-radius: 5px;
  color: white;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.8);
  min-height: 600px;
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid;
}
#makeRwraper #Mtable thead th {
  font-weight: bold;
  min-width: 100px;
  padding: 10px;
  border: 4px solid;
}
#makeRwraper #Mtable tbody td {
  min-width: 100px;
  padding: 3%;
  border: 4px solid;
}
#makeRwraper #Mtable tbody #morningTD {
  font-weight: bold;
  padding: 3%;
}
#makeRwraper #Mtable tbody #eveningTD {
  font-weight: bold;
  padding: 3%;
}
#makeRwraper #Mtable tbody .saturday {
  background-color: rgba(68, 68, 68, 0.493);
}
#makeRwraper h3 {
  font-size: 35px;
  border-bottom: 2px solid;
}
#makeRwraper form .row {
  position: relative;
  min-height: 500px;
}
#makeRwraper form button {
  position: absolute;
  right: 30px;
  bottom: -60px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  padding: 1% 4% 1% 4%;
}
#makeRwraper form button:hover {
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  padding: 1% 4% 1% 4%;
}
body {
  background-image: url(images/register-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
body #requestWraper {
  transition: 2s;
  border-radius: 20px;
  color: white;
  padding: 1%;
  z-index: 1;
  position: absolute;
  top: 10%;
  left: -500px;
  border: 4px solid;
  max-width: 400px;
  min-height: 500px;
  background-color: rgba(0, 0, 0, 0.6);
}
body #requestWraper .fa-chevron-circle-left {
  transition: 0.4s;
  float: right;
  font-size: 25px;
  color: #a3a3a3;
}
body #requestWraper .fa-chevron-circle-left:hover {
  transition: 0.4s;
  cursor: pointer;
  color: #ffffff;
  float: right;
  font-size: 25px;
}
body #requestWraper .fa-chevron-circle-left:active {
  transition: 0.1s;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.288);
  float: right;
  font-size: 25px;
}
body #requestWraper h4 {
  margin-bottom: 10%;
  text-decoration: underline;
}
body #requestWraper select {
  margin: 5%;
}
body #requestWraper button {
  margin: 5%;
  padding: 2%;
}
body #error {
  opacity: 1;
  max-width: 700px;
}
body main #whiteOpaBg {
  border-radius: 10px;
  max-width: 800px;
  max-height: 560px;
  padding: 8%;
  background-color: rgba(255, 255, 255, 0.318);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.267);
}
body main #formWraper {
  max-width: 350px;
  min-height: 400px;
  background-color: #ffffff;
}
body main h1 {
  color: white;
}
body main #fieldset {
  border-bottom: 2px solid;
  min-height: 200px;
}
body main #sendRef {
  border-radius: 10px;
  box-shadow: 20px 10px 20px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  position: relative;
  min-height: 500px;
  max-width: 968px;
  border: 4px solid white;
}
body main #sendRef button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 5px 25px 5px 25px;
  font-weight: bold;
}
body main #sendRef #acceptSubmition {
  position: absolute;
  left: 20px;
  bottom: 20px;
}
body main table {
  width: 100%;
  text-align: center;
}
body main table thead th {
  border: 1px solid white;
  color: white;
}
body main table tbody td .sellectPre {
  height: 40px;
  width: 100%;
}
